<div class="container=fuild">
    <mat-toolbar>All Issue Books({{people_length}})
    </mat-toolbar>
    <table class="table list_table table-dark table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Book Number</th>
          <th>Book name</th>
          <th>Empolyee Name</th>
          <th> </th>
        </tr>

      </thead>
      <tbody>
        <tr *ngFor="let people of peoples">
          <td></td>
          <td>{{people.book_number}}</td>
          <td>{{people.book_name}}</td>
          <td>{{people.emp_name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
